.ChartSelection {
    background: black;
    position: absolute;
    right: 0;
    width: 22%;
    height: 100vh;
    align-content: center;
    margin: 0px;
    top: 0px;
    /* border-left: solid grey 5px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}


.SelectionPlaceholder {
    background: transparent;
    height: 25vh;
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    align-content: center;
    cursor: pointer;
    z-index: 3;

}

.VegaLiteDivSelection {
    cursor: pointer;
    position: relative;
    background: white;
    border: solid white 3px;
    border-radius: 20px;
    height: 25vh;
    width: 20vw;
    z-index: -1;
}

.ChosenPlaceholder {
    background: white;
    height: 40vh;
    width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: solid black 3px;
}

.VegaLiteDivChosen {
    margin-left: 12px;
}

.ChosenCharts {
    width: 80%;
}

.FileInput {
    margin-left: 10px;
    margin-top: 10px;
    width: 80%;
}

.voiceStyle {
    background-color: rgb(0, 37, 40);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    border-top:#C24C3D solid; 
}